   {% extends "base.html" %}
   {% load static %}

   {% block content %}
   <!-- special products -->
    <section id = "special" class = "py-5">
        <div class = "container">
            <div class = "title text-center py-5">
                <h2 class = "position-relative d-inline-block">{{catagory}} Collections</h2>
            </div>

            <div class = "special-list row g-0">

              {% for product in products  %}
              <div class = "col-md-6 col-lg-4 col-xl-3 p-2">
                <a href="{% url "catalog:product_detail" product.category.name product.name %}">
                    <div class = "special-img position-relative overflow-hidden">
                        <img src = "{{product.images.url}}" class = "w-100">
                        <span class = "position-absolute d-flex align-items-center justify-content-center text-primary fs-4">
                            <i class = "fas fa-heart"></i>
                        </span>
                    </div>
                    <div class = "text-center">
                        <p class = "text-capitalize mt-3 mb-1">{{product.name}}</p>
                        <span class = "fw-bold d-block">Rs. {{product.price}}</span>
                        <a href = "{% url "catalog:add_to_cart" product.id %}" class = "btn btn-primary mt-3">Add to Cart</a>
                    </div>
                </a>
                </div>
                
              {% endfor %}


            </div>
        </div>
    </section>
    <!-- end of special products -->

    {% endblock content %}