{% extends "base.html" %}
{% load static %}
{% block content %}

<div class = "container ">
  <div class = "card">
    <!-- card left -->
    <div class = "product-imgs">
      <div class = "img-display">
        <div class = "img-showcase">
          <img src = "{{product.images.url}}" alt = "shoe image">
          <img src = "{% static "/images/planners.png" %}" alt = "shoe image">
          <img src = "{% static "/images/planners.png" %}" alt = "shoe image">
          <img src = "{% static "/images/planners.png" %}" alt = "shoe image">
          <img src = "{% static "/images/planners.png" %}" alt = "shoe image">

        </div>
      </div>
     <div class = "img-select">
        <div class = "img-item">
          <a href = "#" data-id = "1">
            <img src = "{% static "/images/planners.png" %}" alt = "shoe image">
          </a>
        </div>
        <div class = "img-item">
          <a href = "#" data-id = "2">
            <img src = "{% static "/images/planners.png" %}" alt = "shoe image">
          </a>
        </div>
        <div class = "img-item">
          <a href = "#" data-id = "3">
            <img src = "{% static "/images/planners.png" %}" alt = "shoe image">
          </a>
        </div>
        <div class = "img-item">
          <a href = "#" data-id = "4">
            <img src = "{% static "/images/planners.png" %}" alt = "shoe image">
          </a>
        </div>
        <div class = "img-item">
          <a href = "#" data-id = "5">
            <img src = "{% static "/images/planners.png" %}" alt = "shoe image">
          </a>
        </div>


      </div>
    </div>
    <!-- card right -->
    <div class = "product-content">
      <h2 class = "product-title">{{product.name}}</h2>
      <div class = "product-rating">
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star-half-alt"></i>
        <span>4.7(21)</span>
      </div>

      <div class = "product-price">
        <p class = "new-price">Price: <span>Rs. {{product.price}}</span></p>
      </div>

      <div class = "product-detail">
        <h2>about this item: </h2>
        {{ product.description|safe }}
      </div>

      <div class="quantity">
          <h3 class="label">Quantity:</h3>
          <div class="quantity-box">
            <button class="decrease">-</button>
            <input type="number" id="quantityInput" min="1" value="1">
            <button class="increase">+</button>
          </div>
      </div>
      <div class = "purchase-info">
        {% if product.stock_quantity != 0 %}
        <div>
            <button type = "button" class = "product-btn buy-btn">Buy it Now</button>
        </div>
        {% else %}
        <div>
            <button type = "button" disabled class = "product-btn stock-btn">Out Of Stock</button>
        </div>
        {% endif %}
        <div >
          <a href="{% url "catalog:add_to_cart" product.id %}">
            <div>
              <form method="post" action="{% url 'catalog:add_to_cart' product.id %}">
                  {% csrf_token %}
                  <input type="hidden" name="quantity" id="quantity" value="1">
                  <button type="submit" class="product-btn product-cart-btn">Add to Cart</button>
              </form>
          </div>  
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
  


<script>
  // Get quantity input element
  const quantityInput = document.getElementById('quantityInput');
  const quantityHiddenInput = document.getElementById('quantity');

  // Get increase and decrease buttons
  const increaseBtn = document.querySelector('.increase');
  const decreaseBtn = document.querySelector('.decrease');

  // Add event listener for increase button
  increaseBtn.addEventListener('click', function() {
      // Increment quantity value
      quantityInput.value = parseInt(quantityInput.value) + 1;
      quantityHiddenInput.value = quantityInput.value; // Update hidden input value
  });

  // Add event listener for decrease button
  decreaseBtn.addEventListener('click', function() {
      // Decrement quantity value if it's greater than 1
      if (parseInt(quantityInput.value) > 1) {
          quantityInput.value = parseInt(quantityInput.value) - 1;
          quantityHiddenInput.value = quantityInput.value; // Update hidden input value
      }
  });

const imgs = document.querySelectorAll('.img-select a');
const imgBtns = [...imgs];
let imgId = 1;

imgBtns.forEach((imgItem) => {
    imgItem.addEventListener('click', (event) => {
        event.preventDefault();
        imgId = imgItem.dataset.id;
        slideImage();
    });
});

function slideImage(){
    const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

    document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
}

window.addEventListener('resize', slideImage);
</script>



{% endblock content %}